.dropdown {
    @apply inline-flex;
}

.dropdown-list {
    @apply absolute;
    @apply grid;
    @apply top-full;
    @apply mt-4;
    @apply py-4;
    @apply shadow-xl;
    @apply z-10;
    @apply bg-white;
    @apply text-gray-700;
    @apply border;
    @apply border-gray-200;
    left: 50%;
    transform: translateX(-50%);
    @apply min-w-32;
}

.dropdown-list-left {
    transform: translateX(calc(-100% + 1.725rem));
}

.dropdown-list-right {
    transform: translateX(-1.725rem);
}

.dropdown-list:before {
    content: '';
    @apply absolute;
    left: 50%;
    top: 0;
    width: 0.75rem;
    height: 0.75rem;
    @apply bg-white;
    transform: translate(-50%, -50%) rotate(45deg);
    @apply border-l;
    @apply border-t;
    @apply border-gray-200;
}

.dropdown-list-left:before {
    right: 0;
    left: auto;
    transform: translate(-1.25rem, -50%) rotate(45deg);
}

.dropdown-list-right:before {
    left: 0;
    transform: translate(1.25rem, -50%) rotate(45deg);
}

.dropdown-list li {
    @apply block;
}

.dropdown-list a,
.dropdown-list button {
    @apply block;
    @apply w-full;
    @apply px-6;
    @apply py-1;
    @apply text-left;
}

.dropdown-list li.active a{
    @apply text-blue-500;
}

.dropdown-list a:hover,
.dropdown-list button:hover {
    @apply bg-blue-100;
    @apply bg-opacity-50;
    @apply text-blue-500;
}

.dropdown-trigger i {
    transition: transform 0.15s ease;
}

.dropdown-trigger-open .dropdown-trigger i{
    transform: rotate(-90deg);
}
