.input-group {
    @apply grid;
    @apply gap-4;
}

.input {
    @apply w-full;
    @apply max-w-full;
    @apply min-h-10;
    @apply px-2;
    @apply rounded;
    @apply text-gray-800;
    @apply bg-blue-100;
    @apply bg-opacity-50;
    @apply border;
    @apply border-blue-200;
    @apply border-opacity-50;
}

.input-sm {
    @apply w-1/4;
}

.input-md {
    @apply w-1/2;
}

.input-textarea {
    min-height: 8rem;
    max-width: none;
    @apply py-2;
}

.input-html {
    min-height: 8rem;
    max-width: none;
    @apply w-full;
    @apply py-2;
    @apply font-mono;
}

input:disabled {
    @apply opacity-50;
    @apply cursor-not-allowed;
}

input:read-only {
}

.input-focus,
.input:focus {
    @apply border-blue-400;
    @apply outline-none;
    @apply bg-white;
    @apply shadow-focus;
    @apply placeholder-transparent;
}

@screen lg {
    .input-group {
        @apply flex;
        @apply items-start;
        @apply justify-start;
        order: 2;
    }

    .input-group > *:not(:last-child) {
        @apply mr-4;
    }
}
