.markup-h1 {
    @apply font-extrabold;
    @apply leading-tight;
    @apply text-4xl;
    @apply md:text-5xl;
    @apply pb-8;
}

.markup-h2 {
    @apply font-extrabold;
    @apply leading-tight;
    @apply text-xl;
    @apply md:text-3xl;
    @apply mb-10;
}

.markup-h3 {
    @apply font-bold;
    @apply leading-tight;
    @apply text-lg;
    @apply md:text-2xl;
}

.markup-h4 {
    @apply font-semibold;
    @apply leading-tight;
    @apply text-xs;
    @apply uppercase;
    @apply tracking-widest;
}

.markup h1 {
    @apply markup-h1;
    @apply mb-8;
}

.markup h2 {
    @apply markup-h2;
    @apply mb-4;
}

.markup h2:not(:first-child) {
    @apply mt-12;
}

.markup h3 {
    @apply markup-h3;
    @apply mb-4;
}

.markup h3:not(:first-child) {
    @apply mt-12;
}

.markup h4 {
    @apply markup-h4;
    @apply mb-2;
}

.markup h4:not(:first-child) {
    @apply mt-6;
}

.markup p,
.markup ul,
.markup ol {
    @apply mb-4;
    @apply last:mb-0;
}

.markup strong {
    @apply font-semibold;
}

.markup-ol,
.markup-lists ol {
    list-style: decimal;
    @apply pl-10;
}

.markup-ul,
.markup-lists ul {
    @apply pl-4;
}

.markup-ul li:before,
.markup-lists ul li:before {
    @apply absolute;
    @apply left-0;
    @apply -ml-4;
    @apply text-gray-600;
    content: '•';
}

.markup-ul ul,
.markup-lists ul ul {
    @apply pl-5;
}

.markup-ul ul li:before,
.markup-lists ul ul li:before {
    @apply text-gray-400;
}

.markup-links a {
    @apply link;
}

.markup-links a:hover {
    @apply link-hover;
}

.markup-links-dimmed a {
    @apply link-dimmed;
}

.markup-links-dimmed a:hover {
    @apply link-dimmed-hover;
}

code.markup-code,
.markup-code code {
    @apply inline-block;
    @apply px-1;
    @apply bg-gray-500/5;
    @apply rounded-sm;
    @apply text-gray-700;
    word-break: break-all;
}

.markup-code pre code,
code.markup-code-block,
.markup-code-block code {
    @apply text-sm;
    @apply block;
    @apply my-6;
    @apply px-6;
    @apply py-4;
    @apply rounded;
    @apply shadow-md;
    @apply bg-gray-800;
    @apply bg-gradient-to-br;
    @apply from-purple-500/10;
    @apply text-gray-200;
    @apply overflow-x-auto;
}

.markup-code pre:last-child code,
code.markup-code-block:last-child,
.markup-code-block:last-child code {
    @apply mb-0;
}

.markup-dl {
    @apply grid;
    @apply gap-x-4;
    @apply gap-y-3;
    @apply md:grid-cols-[auto,1fr];
}

.markup-dl dd {
    @apply -mt-2;
    @apply md:mt-0;
}
