.select {
    @apply h-10;
    @apply max-w-full;
}

.select-arrow {
    @apply pointer-events-none;
    @apply absolute;
    @apply top-0;
    @apply right-0;
    @apply grid;
    @apply place-center;
    @apply w-8;
    @apply h-full;
    @apply text-blue-500;
}

.select select {
    @apply input;
    -webkit-appearance: none;
    appearance: none;
    @apply pr-8;
    @apply h-full;
    @apply min-h-0;
}

select:disabled {
    @apply opacity-50;
    @apply cursor-not-allowed;
}
