.tabs {
    @apply bg-white;
    overflow-x: scroll;
    z-index: 1;
    @apply mb-10;
}

.tabs::-webkit-scrollbar {
    height: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

.tabs ul {
    @apply inline-grid;
    @apply grid-cols-auto;
    @apply grid-flow-col;
    @apply justify-start;
    width: auto;
}

.tabs li {
    @apply cursor-pointer;
    @apply font-bold;
}

.tabs li a {
    @apply bg-blue-100;
    @apply bg-opacity-50;
    @apply inline-block;
    @apply py-3;
    @apply px-6;
}

.tabs li:first-child a {
    @apply rounded-l-full;

}

.tabs li:last-child a {
    @apply rounded-r-full;

}

.tabs li.active a {
    @apply bg-blue-200;
    @apply bg-opacity-75;
}

.tabs li:not(.active) a {
    @apply text-gray-500;
    @apply text-opacity-50;
}

.tabs li:not(.active) a:hover {
    @apply text-black;
}
